# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# SQL Server Compct Edition Database File
*.sdf

ipch/*
*Thumbs.db
*Debug*